{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ShareList</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}"/>
		
	</head>
	
	<body>

	<div class="heading">
	<h1>ShareList</h1>
	</div>
	
	<div class="container">
		<div class="nav">
		{% if user.is_authenticated %}
		<a href="{% url 'mainpage' %}">Мои списки</a>
		<a href="">{{ user.username }}</a>
		<a href="{% url 'logout' %}">Выйти</a>
		{% else %}
		<a href="{% url 'login' %}">Войти</a>
		<a href="{% url 'signup' %}">Зарегистрироваться</a>
		{% endif %}
		</div>
		
		{% block content %}
		{% endblock content %}

	
	</div>
	<h5 class="message">by Mishkin Evgeny, 2021</h5>	
	</body>
</html>



		

		


