{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
	<p>Список "{{ userlist_form.title.value }}"</p>
	<p>Поделиться списком:</p>
	<table>
	  <tr>
		<td>на чтение:</td>
		<td>{{ userlistshareform.sharelink_readonly }}</td>
	  </tr>
	  <tr>
		<td>на запись:</td>
		<td>{{ userlistshareform.sharelink_readwrite }}</td>
	  </tr>
	</table>
	{% if permissions_formset|length > 0 %}
	<p>Пользователи, имеющие доступ к данному списку:</p>
		{% for user_record in permissions_formset %}
				{{ user_record.as_table }}
		{% endfor %}
	{% else %}
	Пока никто из пользователей не получил доступ к данному списку
	{% endif %}
	
	<p><input type="submit" value="Сохранить"></p>

</form>


{% endblock content %}