{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
	{{ permissions_formset.management_form  }}
	<p class="main centered">Список "{{ userlist_form.title.value }}"</p>
	<p>Поделиться списком:</p>
	<table>
	  <tr>
		<td>на чтение:</td>
		<td>{{ userlistshareform.sharelink_readonly }}</td>
	  </tr>
	  <tr>
		<td>на запись:</td>
		<td>{{ userlistshareform.sharelink_readwrite }}</td>
	  </tr>
	</table>
	{% if permissions_formset|length > 0 %}
	<p>Пользователи, имеющие доступ к данному списку:</p>
		
		<table>
		<tr>
			<td>Пользователь</td>
			<td>Доступ</td>
		</tr>
		{% for user_record in permissions_formset %}
			<tr>
				<td>{{ user_record.username.value }}</td>
				<td>{{ user_record.access }}</td>
				{{ user_record.username_id }}
			</tr>
		{% endfor %}
		</table>
	{% else %}
	Пока никто из пользователей не получил доступ к данному списку
	{% endif %}
	
	<p class="centered"><input type="submit" value="Сохранить"></p>

</form>


{% endblock content %}