html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
html body {
  margin: 0;
  background: #2980b9;
  background: linear-gradient(to right, #2980b9, #2c3e50);
  font-family: 'Montserrat', sans-serif;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  margin-bottom: 3rem;
  font-weight: 300;
  position: relative;
}
.heading h1:after {
  content: '';
  height: 2px;
  width: 2rem;
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  background-color: #fff;
}
.container {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  width: 800px;
}
.container .nav {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  margin: 0 -3rem 2rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  position: relative;
}
.container .nav:before,
.container .nav:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  border: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f2f0f0;
  transform-origin: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  z-index: -1;
}
.container .nav:before {
  left: 0;
  transform: translateY(-0.45rem) rotate(135deg) translateX(-0.4rem);
}
.container .nav:after {
  right: 0;
  transform: translateY(-0.45rem) rotate(-135deg) translateX(0.4rem);
}

.container a {
  color: #2980b9;
  opacity: 0.7;
  transition: 0.25s;
  text-decoration: none;
}

.container .nav a {
	font-size: 2rem;
}

.container .add-row {
	padding: 0 3.5rem;
	font-size: 1rem;
}

.container a:hover {
  opacity: 1;
}

.container .nav a {
  display: inline-block;
  margin: 0 1rem;
  
}

.container .nav a:nth-child(2) {
  color: #000;
}

.container .nav a:nth-child(2) {
  margin-left: auto;
}

.container .list .num {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s;
}

.container .list .num .digits {
  font-size: 4rem;
  font-weight: bold;
  opacity: 0.15;
  border-style: none;
  pointer-events: none;
  text-align: right;
  width: 80px;
  padding: 0rem;
  transition: 0.25s;
} 

.container .list .num .planned{
  color: #000;
} 

.container .list .num .in_progress{
  color: #0033ff;
} 

.container .list .num .done{
  color: #439b00
} 

.container .list .num:hover .digits {
  opacity: 0.4;
}
 
.container .list .num .item_style {
  position: relative;
  left:  0.8rem;
  color: #3d3d3d;
  font-size: 0.85rem;
  transition: 0.25s;
}
.container .list .num:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.container .list .num:hover .item_style {
  left: 1rem;
}

.container .list .num h5 {
	opacity: 0;
	padding: 3px 8px;
	margin: 0px;
	transition: 0.25s;
}

.container .list .num:hover h5 {
  opacity: 0.6;
}

.container .list .num_control {
  display: flex;
  flex-direction: column;
}

.message {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}




/* INPUT */
.input_class {
	display: block;
	width: 620px;
	height: 35px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px 8px;
	font-family: inherit;
	color: inherit;
    font-size: 1.2rem;
	
	resize: none;

	border: none;
	background-color: inherit;
	line-height: 1.5rem;
}

.main {
	font-size: 2rem;
}

/* JS styling: */
.container .list .num .delete-row {
	margin-left: 25px;
	text-decoration: none;
    font-size: 1rem;
    color: #2980b9;
    opacity: 0;
	margin-top: auto;
	margin-bottom: 20px;
	transition: 0.25s;
}

.container .list .num:hover .delete-row {
  opacity: 0.7;
}

.centered {
	text-align: center;
	margin: auto;
}

.more_padding {
	padding: 1rem;
}

.container .add-row a {
	font-size: 1rem;
}

input[type=submit], button[type=submit]{
	border-style: none;
	
	color: #2980b9;
	opacity: 0.7;
	transition: 0.25s;
	text-decoration: none;
	font-size: 2rem;
	cursor: pointer;
	
	background-color: transparent;
}

input[type=submit]:hover, button[type=submit]:hover{
  opacity: 1;
}