<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load myfilters %}
{% block content %}
<h2 class="centered">Создать аккаунт</h2>
<form method="post">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.username.errors }}
{{ form.password1.errors }}
{{ form.password2.errors }}
<p class="centered">{{ form.username|addclass:'input_login_field' }}<br>
{{ form.password1|addclass:'input_login_field' }}<br>
{{ form.password2|addclass:'input_login_field' }}
{{ form.password1.help_text }}
</p>
<p class="centered"><button type="submit">Создать аккаунт</button></p>
</form>
{% endblock content %}